<p>
    <strong>Телефон:</strong><br>
    <a href="tel:+3809812345678">+38 (098) 12-34-567</a><br>
    <a href="tel:+3809812345678">+38 (093) 12-34-567</a><br>
    <a href="tel:+3809812345678">+38 (099) 12-34-567</a><br>
</p>
