@{
    ViewBag.Title = "Контакты";
    ViewBag.SelectedMenu = "contacts";
}

<div class="container">
    <h2 class="text-center mt-4">Контакты</h2>
    <p>Если у вас возникли вопросы, предложения или пожелания,&nbsp;Вы всегда можете связаться с нами через форму обратной связи или по телефону.</p>
    <p><strong>Самовывоз: улица Метростроителей, 17-А </strong></p>

    @Html.Partial("_Phone")
</div>
